@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Walker.Name</h1>
<h4>Walker Profile</h4>
<img src="@Model.Walker.ImageUrl" class="rounded img-thumbnail" alt="Doggo" />


@Html.DisplayFor(model => Model.Walker.Name)
@Html.DisplayFor(model => Model.Neighborhood.Name)


<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Client
            </th>
            <th>
                Duration
            </th>
        
        </tr>
    </thead>
    <tbody>
        </tbody>
        </table>

        <hr />
        <div>
        </div>
        <div>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@
            <a asp-action="Index">Back to List</a>
        </div>
