@model DogGo.Models.ViewModels.BookWalkerViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BookWalkerViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Walk.Date" class="control-label"></label>
                <input type="date" asp-for="Walk.Date" class="form-control" />
                <span asp-validation-for="Walk.Date"></span>
            </div>

            <div class="form-group">
                <label asp-for="Walk.DogId" class="control-label"></label>
                <select asp-for="Walk.DogId" class="form-control">
                    <option value="">Select Dog to Walk</option>
                    @foreach (Dog dog in Model.OwnerDogs)
                    {
                        <option value="@dog.Id">@dog.Name</option>
                    }
                </select>
                <span asp-validation-for="Walk.DogId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
